<div class="File" *ngIf="this.ItemFile">
  <div class="File__Icon">
    <i [class]='this.GetIconFile()'></i>
  </div>
  <div class="File__Text">
    <h3 class="File__Name">{{this.ItemFile.FileInfo.FileName}}</h3>
    <p class="File__Details">
      Create By <span class="Focus">{{this.ItemFile.FileInfo.Owner.Name}}</span>
    </p>
    <p class="File__Details">
      Create in <span class="Focus">
      {{this.DateTransformer.transform(this.ItemFile.FileInfo.Created_Date , 'yyyy.MM.dd')}}
    </span>
    </p>
    <p class="File__Details" *ngIf="this.ItemFile.FileInfo.User_Booking">
      Booking From <span class="Focus">
      {{this.ItemFile.FileInfo.User_Booking.UserName}}
    </span>
    </p>
  </div>
  <div class="File__Options">
    <ul>
      <li class="File__Button File__Button--Remove"
          (click)="this.SendCommand(this.GetAllCommands().Delete)"
          *ngIf="this.ItemFile.GetPermission().CanDelete">
        <i class='bx bxs-x-circle'></i></li>
      <li class="File__Button File__Button--Add"
          (click)="this.SendCommand(this.GetAllCommands().Report)"
          *ngIf="this.ItemFile.GetPermission().CanReport">
        <i class='bx bxs-report'></i></li>
      <li class="File__Button File__Button--Add"
          (click)="this.SendCommand(this.GetAllCommands().Booking)"
          *ngIf="!this.ItemFile.IsBooking()">
        <i class='bx bxs-bookmark-star'></i></li>
      <li class="File__Button File__Button--Add"
          *ngIf="this.ItemFile.GetPermission().CanEdit">
        <input type="file" id="FileEdit" style="display: none" (change)="this.EditFile($event)">
        <label for="FileEdit" style="cursor: pointer"><i class='bx bxs-edit'></i></label>
      </li>
      <li class="File__Button File__Button--Remove"
          (click)="this.SendCommand(this.GetAllCommands().NotBooking)"
          *ngIf="this.ItemFile.GetPermission().CanNotBooking">
        <i class='bx bxs-bookmark-minus' ></i></li>
    </ul>
  </div>
</div>
