<div class="Group" *ngIf="this.Group_Item">
  <div class="Group__Icon">
    <i class='bx bx-group'></i>
  </div>
  <div class="Group__Text">
    <h3 class="Group__Name"
    (dblclick)="this.SendCommand(this.GetAllCommands().GroupEnter)">{{this.Group_Item.Name}}</h3>
    <p class="Group__Details">
      Create By <span class="Focus">{{this.Group_Item.Admin}}</span>
    </p>
    <p class="Group__Details">
      Create in <span class="Focus">
      {{this.DateTransformer.transform(this.Group_Item.Date_Create , 'yyyy.MM.dd')}}
    </span>
    </p>
  </div>
  <div class="Group__Options">
    <ul>
      <li class="Group__Button Group__Button--Remove"
          (click)="this.SendCommand(this.GetAllCommands().DeleteGroup)"
          *ngIf="this.Group_Item.GetPermission().CanDelete">
        <i class='bx bxs-x-circle'></i></li>
      <li class="Group__Button Group__Button--Add"
          (click)="this.SendCommand(this.GetAllCommands().ReportEnter)"
          *ngIf="this.Group_Item.GetPermission().CanReport">
        <i class='bx bxs-info-circle'></i></li>
    </ul>
  </div>
</div>
